@font-face {
    font-family: "Myriad Pro Regular";
    font-style: normal;
    font-weight: normal;
    src: local("Myriad Pro Regular"),
      url("./assets/fonts/myriadpro/MYRIADPRO-REGULAR.woff") format("woff");
  }
  
  @font-face {
    font-family: "Myriad Pro Bold";
    font-style: normal;
    font-weight: normal;
    src: local("Myriad Pro Bold"),
      url("./assets/fonts/myriadpro/MYRIADPRO-BOLD.woff") format("woff");
  }
  
  @font-face {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: normal;
    src: local("Helvetica"),
      url("./assets/fonts/Helvetica-Font/Helvetica.ttf") format("ttf");
  }

  
:root {
    --primary: #b084bc;
    --light: #ededed;
    --dark: #1f1f1f;
  }
  
  html {
    margin: 0px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
    background-color: black;
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
    animation-delay: 4s;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    overflow-x: hidden;
  }
  
