body{
  padding: 0px;
  margin:0px;
  background-color: black;
  color: white;
}

nav > h1{
  position: fixed;
  top:0;
  bottom: 0;
  left:0;
  right: 0;
  box-sizing: border-box;
  text-align: center;
  height: 70px;
  padding: 0px;
  margin:0px;
  margin-top: 10px;
}

.card-container{
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
  gap:30px;
  justify-items: center;
}

.card {
  height:300px;
  width: 240px;
  background-color: rgba(67, 67, 67,0.6);
  border-radius: 10px;
}